.container {
  background-color: #FFF;
  border-radius: 8px;
  padding: 8px 4px 8px 8px;
}

.radio-group {
  position: relative;
}
.radio-group input {
  display: none;
}
.radio-group input:checked ~ label {
  background-color: #EFA51E;
  color: #0D4D64;
  font-weight: 600;
}
.radio-group label {
  background-color: #FFF;
  border-radius: 8px;
  color: #638A99;
  cursor: pointer;
  padding: 8px 16px;
  transition: all 290ms cubic-bezier(0.79, 0.01, 0.38, 0.99);
}
.radio-group label:hover {
  background-color: #EFA51E;
  color: #0D4D64;
  font-weight: 600;
}